<%- include("partials/header.ejs", authenticated, user) %>

<div class="pattern pt-4">
<div class="row row-cols-1 row-cols-md-2">
<div class="card text-white bg-secondary mb-3 mt-3"  style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/kyle.jpg" class="card-img" alt="Kyle">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kyle Jackson</h5>
        <h6 class="card-text">Favorite Food: Chicken Paprikash</h6>
        <em class="card-text">"There are few greater joys than trying a new recipe and succeeding at it. We hope the recipes you find here will bring you joy and comfort, and that you may discover the best of what others have to offer."</em>
      </div>
    </div>
  </div>
</div>

<div class="card text-white bg-secondary mb-3"  style="max-width: 540px;" id="mc">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Madeleine Macaulay</h5>
        <h6 class="card-text">Favorite Food: Curry</h6>
        <em class="card-text">"I feel like cooking is a way to travel the world using something that everyone has in common --- Food! It’s one of the best ways to experience the culture and a great way of bringing people together."</em>
      </div>
    </div>
    <div class="col-md-4">
      <img src="img/madeleine.jpg" class="imgResizeM" class="card-img" alt="Madeleine">
    </div>
  </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/jade.jpeg" class="imgResizeJ" class="card-img" alt="Jade">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jade Murray</h5>
        <h6 class="card-text">Favorite Food: Mac and Cheese</h6>
        <em class="card-text">"Cooking is a way to bring people together...The holidays are my favorite because I get to cook special meals with my grandma. It’s rewarding to finish a meal and gather around the table with family and friends to enjoy it and make memories."</em>
      </div>
    </div>
  </div>
</div>

<div class="card text-white bg-secondary mb-3"  style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Andrew Paulino</h5>
        <h6 class="card-text">Favorite Food: Pollo Saltado </h6>
        <em class="card-text">"People who love to eat are the best people! I think cooking and the cultural impact it has on the world is the one thing everyone has in common and in regard the best way to connect with different people."</em>
      </div>
    </div>
    <div class="col-md-4">
      <img src="img/andrew.jpg" class="imgResizeA"class="card-img" alt="Andrew">
    </div>
  </div>
</div>
</div>
</div>
<%- include("partials/footer.ejs") %>
